body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    height: max-content;
}
span {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1,h2,h3,h4,h5 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
p {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
div {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
div#mainDataContent {
    text-align: center;
}
button {
    color: #ffffff;
    background-color: #202020;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 5px solid #ffffff;
    margin: 0px;
    text-align: center;
    border-radius: 0px;
    border-bottom:solid #000000 2px;
    border-right:solid #000000 2px;
    border-top:solid #404040 2px;
    border-left:solid #404040 2px;
}
button:active {
    border-radius: 0px;
    border-bottom:solid #404040 2px;
    border-right:solid #404040 2px;
    border-top:solid #000000 2px;
    border-left:solid #000000 2px;
}
.hidden {
    display: none;
}
img {
    width: 160px;
    height: 160px;
    border: #ffffff solid 4.25px;
}
#guiDiv2-row1 button {
    width:calc(100%/3);
}
#guiDiv1-row1 select {
    width:calc(100%/4);
}
#dataDiv input {
    font-family:'Courier New', Courier, monospace;
}
#dataDiv {
    text-align:center;
}
input {
    background-color:#303030;
    color:#ffffff;
    text-align:center;
    font-size:14px;
    font-family: 'Courier New', Courier, monospace;
}
#outputTextarea, #inputTextarea {
    width:100%;
    height:200px;
    resize:none;
    background-color:#303030;
    color:#ffffff;
}
#organizationDiv {
    width:600px;
    height:200px;
    overflow-x: hidden;
    overflow-y: auto;
}
select {
    background-color:#181818;
    color:#ffffff;
    font-family: 'Courier New', Courier, monospace;
    height:22px;
}

#dataDiv1, #dataDiv2 {
    width:50%;
}

#block_container {
    text-align:center;
}
.block100 {
    display:table-cell;
    text-align:center;
    width:100%;
}
.block50 {
    display:table-cell;
    text-align:center;
    width:50%;
}
.block25 {
    display:table-cell;
    text-align:center;
    width:25%;
}
.block {
    display:table-cell;
    text-align:center;
}
.field25 {
    width:100%;
}
.block125 {
    display:table-cell;
    text-align:center;
    width:12.5%;
}
#characterOptions button {
    width:50%;
}
#deleteCharacter {
    color:#ffffff;
    background-color:#c00000;
}
#selectionDiv button {
    width:calc(100%/6);
}

#orgConfirm {
    width:100%;
    font-size:24px;
    color:#000000;
    background-color:#00ff00;
}
#tab1info {
    text-align:center;
}
#backupButtons button {
    width:calc(100%/6);
}
.tabTitleDiv {
    text-align:center;
}
.tabTitle {
    font-size:30px;
}
a {
    color:#00ffff;
}
#refreshP {
    width:20%
}

#previewWindow {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    border: #ffffff solid 5px;
}
#previewWindow span {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#previewWindow p {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
#previewWindow div {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
div#pMainDataContent {
    text-align: center;
}
#previewWindow button {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 0px solid #ffffff;
    margin: 0px;
    text-align: center;
}
.phidden {
    display: none;
}
#previewWindow img {
    width: 150px;
    height: 150px;
    border: #ffffff solid 5px;
}
#ptheDivThatContainsEverything {
    border: #ffffff solid 5px;
}
#pnotes {
    width: 100%;
    height: 200px;
    background-color: #202020;
    color: #ffffff;
    resize: none;
}
.ssname {
    font-size:20px;
    color:#ffffff;
}