#previewWindow {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    border: #ffffff solid 5px;
}
#previewWindow span {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#previewWindow p {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
#previewWindow div {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
div#previewMainDataContent {
    text-align: center;
}
#previewWindow button {
    color: #ffffff;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 0px solid #ffffff;
    margin: 0px;
    text-align: center;
}
.previewhidden {
    display: none;
}
#previewWindow img {
    width: 150px;
    height: 150px;
    border: #ffffff solid 5px;
}
#previewtheDivThatContainsEverything {
    border: #ffffff solid 5px;
}
#previewnotes {
    width: 100%;
    height: 200px;
    background-color: #202020;
    color: #ffffff;
    resize: none;
}