body {
    background-color:#000000;
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    margin:0;
    height:100%;
    overflow:hidden;
}
#wrapper {
    padding-top:4.5vh;
}
#databaseBorder {
    width:90vw;
    height:90vh;
    border:solid #ffffff 0.5vh;
    display:inline-block;
    vertical-align: middle;
}
button {
    background-color:#000000;
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
    border-radius: 0px;
    border-bottom:solid #000000 2px;
    border-right:solid #000000 2px;
    border-top:solid #404040 2px;
    border-left:solid #404040 2px;
}
button:active {
    border-radius: 0px;
    border-bottom:solid #404040 2px;
    border-right:solid #404040 2px;
    border-top:solid #000000 2px;
    border-left:solid #000000 2px;
}
.smallAssDiv {
    width:75vw;
    display:inline-block;
}
.smallAssDiv div {
    width:20%;
    display:inline-block;
    font-size:large;
}
.smallAssDiv div select {
    width:15vw;
}
select {
    background-color:#404040;
    color:#ffffff;
    border:solid #606060 2px;
    font-family:'Courier New', Courier, monospace;
    font-size:large;
}
u {
    font-size:large;
}