body {
    background-color:#000000;
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
}
button {
    background-color:#000000;
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
    border-radius: 0px;
    border-bottom:solid #000000 2px;
    border-right:solid #000000 2px;
    border-top:solid #404040 2px;
    border-left:solid #404040 2px;
}
button:active {
    border-radius: 0px;
    border-bottom:solid #404040 2px;
    border-right:solid #404040 2px;
    border-top:solid #000000 2px;
    border-left:solid #000000 2px;
}
#tabSelectorDiv button {
    width:25%;
    font-size:large;
}
.tabTitle {
    width:100%;
    text-align:center;
}
.tabTitle strong {
    font-size:24px;
}
#projectLinks button {
    width:200px;
    height:200px;
    background-color:#000000;
    color:#ffffff;
    font-family:'Courier New', Courier, monospace;
    border-radius: 0px;
    border-bottom:solid #404040 5px;
    border-right:solid #404040 5px;
    border-top:solid #000000 5px;
    border-left:solid #000000 5px;
}
#projectLinks button:active {
    border-radius: 0px;
    border-bottom:solid #000000 5px;
    border-right:solid #000000 5px;
    border-top:solid #404040 5px;
    border-left:solid #404040 5px;
}
a:link {
    color:#00ff00;
}
a:visited {
    color:#ffff00;
}
a:active {
    color:#00ffff;
}
audio::-webkit-media-controls-panel {
    background-color:#808080;
}

/* New music player stuff */
#tab2 div {
    text-align:center;
}
#musicDiv {
    text-align: center;
    display:flex;
    justify-content:center;
}
#musicPlayerDiv {
    font-size:larger;
    border:#ffffff solid 5px;
    width: fit-content;
    justify-content:center;
}
#musicPlayerDiv strong {
    font-size:x-large;
}
#btnPrevAlbum,#btnAlbumLabel,#btnNextAlbum {
    background-color:#505050;
}
#btnPrevSong,#btnSongLabel,#btnNextSong {
    background-color: #282828;
}
/* 14ish pixels per character */
#btnAlbumLabel,#btnSongLabel {
    width:570px;
}
#musicPlayerDiv button {
    font-size:larger;
}
#theJams {
    width: 80%;
}
/*audio::-webkit-media-controls-timeline {
    background-color:#ffffff;
    border-radius:25px;
    margin-left:10px;
    margin-right:10px;
}*/
